.optionbox{
    height: 100px;
    width: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: transparent;
    border: 5px solid crimson;
}

.option1handdiv{
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 10px 5px 10px 10px;
    aspect-ratio: 1/1;
    background-color: cornflowerblue;
    color: aliceblue;
    font-family: poxel;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.option2handdiv{
    aspect-ratio: 1/1;
    grid-row: 1/2;
    margin: 10px 10px 10px 5px;
    grid-column: 2/3;
    background-color: cornflowerblue;
    color: aliceblue;
    font-family: poxel;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}